{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "react/jsx-filename-extension": "off",
    "no-use-before-define": "off",
    "import/first": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./",
          "./app"
        ],
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js",
          ".jsx"
        ]
      }
    }
  },
  "globals": {
    "fetch": false,
    "navigator": false
  }
}
